---
import { getCollection } from "astro:content";
import Head from "../components/Head.astro";
import HeatmapControls from "../components/HeatmapControls.astro";
import TitlePanel from "../components/map/TitlePanel.astro";
import ContributePanel from "../components/map/ContributePanel.astro";
import LayerPanel from "../components/map/LayerPanel.astro";
import WastePanel from "../components/map/WastePanel.astro";

import "../styles/map.css";

const isProd = import.meta.env.PROD;

const wastes = getCollection("wastes", (waste) => {
    if (isProd) {
        const isReady = ["ready", "published"].includes(waste.data.status);
        return isReady;
    } else {
        return true;
    }
});
---

<html lang="en">
    <head>
        <!-- TODO: FAVICON <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <Head />
        <title>Waste Atlas</title>
    </head>

    <body>
        <TitlePanel />

        <ContributePanel />

        <WastePanel wastes={wastes} />

        <LayerPanel />

        <!-- <HeatmapControls /> -->
        <div id="map"></div>

        <script src="../scripts/map.ts"></script>
    </body>
</html>
