---
import type { CollectionEntry } from "astro:content"
import { getAssetUrl } from "../../lib/directus"
import { Image } from "astro:assets"
import { categoryColors } from "../../lib/constants"

interface Props {
  projectData: CollectionEntry<"projects">["data"]
  wasteData: CollectionEntry<"wastes">["data"]
}

const { projectData, wasteData } = Astro.props

const colours = categoryColors[wasteData.category]
---

<div class="project">
  <h3 class="mb-4 text-3xl font-medium">
    {projectData.name}
  </h3>
  <div class="flex flex-row gap-10">
    <div class="flex-1">
      <Image src={projectData.image_urls[0]} width={800} alt="" inferSize />
    </div>
    <div class="desc flex-2" style={`background: ${colours.banner}`} set:html={projectData.description}> 
      <!-- se busca en el proyecto la descripción y la incluye en el div. 
       además /esto NOS DA IGUAL/como el lenguaje del que viene es html y lo vamos a meter en html 
       hay que ponerlo según set:html en vez de solo entre{}-->
    </div>
  </div>
</div>
