html,
body {
  height: 100%;
}

h1 {
  font-family: var(--font-switzer);
  font-size: 64px;
  margin: 0;
  font-weight: 500;
}
h2{
  font-family: var(--font-switzer);
  font-size: 40px;
  margin: 0;
  font-weight: 500;
}
h3 {
  font-family: var(--font-erode);
  margin: 0;
  color: #979c35;
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 32px;
  font-family: var(--font-switzer);
}


@keyframes marquee-content {
  0% {
    transform: translateX(100);
  }
  100% {
    transform: translateX(-100%);
  }
}


.caja_grande{
  width: 100%;
  background-color: white;
  border: #000;
  border-width: 3px;
}
.caja_50{
  width: 50%;
  background-color: white;
  border: #000;
  border-width: 3px; 
}
.caja_50 img{
  width: 100%;
}