html,
body {
  height: 100%;
}

h1 {
  font-family: var(--font-switzer);
  font-size: 64px;
  margin: 0;
  font-weight: 500;
}
h2 {
  font-family: var(--font-switzer);
  font-size: 40px;
  margin: 0;
  font-weight: 500;
}
h3 {
  font-family: var(--font-erode);
  margin: 0;
  color: #979c35;
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-family: var(--font-switzer);
}

@keyframes marquee-content {
  0% {
    transform: translateX(100);
  }
  100% {
    transform: translateX(-100%);
  }
}

.barra-scroll::-webkit-scrollbar {
    width: 14px;
  }

.barra-scroll::-webkit-scrollbar-thumb {
  background: yellow;
  border: 2px solid black;
  border-radius: 10px;
}


main,
html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  overflow: hidden;
  margin: 30px;
  margin-bottom: 0px;
}
.object-fit{
  width: 100%;
  height: 40%;
  margin: 20px 0px 20px;
}
.caja_izqui{
  width: 50%;
  height: 100vh;
  background: white;
  padding: 20px;
  margin: 10px;
  float: left;
}
.estatico {
  position: fixed;
  overflow: hidden;
}

.caja_dere{
  left: 50%;
  width: 50%;
  padding: 20px;
  margin: 10px;
  float: right;
  background: white;
}
.scrolleable {
  height: 100vh;
  overflow-y: auto;
}

.caja_grande {
  height: 15%;
  position: relative;
  background-color: white;
  border-width: 3px;
  border-color: #000;
}

.caja_grande + .caja_grande {
  border-top: 0;
}


.contenedor_flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.boton_propiedades {
  background-color: white;
  border-width: 2px;
  border-color: #000;
  border-radius: 50px;

  margin: 5px;
  padding: 0px 10px 0px;

  font-family: var(--font-switzer);
  font-size: 28px;
  font-weight: 500;
}
.boton_propiedades-noclick{
  border-width: 2px;
  border-color: #000;
  border-radius: 50px;

  margin: 5px;
  padding: 0px 10px 0px;

  font-family: var(--font-switzer);
  font-size: 28px;
  font-weight: 500;
}

figure{
  position: relative;
}

.overlap{
  position: absolute;
}

.yellow_buttons {
  background-color: #ffff00;
  font-size: 28px;
}

.boton_archivador{
  left: 50px;
  height: 80px;
  width: 80px;
  font-size: 28px
}

.encabezado{
  width: 100%;
  height:15% ;
}

#property_info{
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
  float: left;
  padding: 20px;
  margin: 10px;
  border-width: 3px;
  border-color: #000;
}