---

---

<style is:global>
  dialog {
    padding: 1.5rem;
    max-width: 450px;
    border-radius: 30px;
    margin: auto;
    /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  }

  /* dialog button {
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    font-size: 32px;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
  } */

  dialog::backdrop {
    /* Change to white with transparency instead of black */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
  }

  dialog h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  dialog p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }

  .submit {
    bottom: 10px;
    left: 10px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
</style>

<button class="panel submit" id="submit-button" data-open="#submit-dialog">
  <svg width="43" height="31" viewBox="0 0 43 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1.05794 0.0216957L41.5797 0C42.3252 0.0488152 42.9386 0.699685 43 1.43346V29.5665C42.9555 30.2972 42.3006 30.9558 41.5797 31H1.42031C0.696334 30.9551 0.0437608 30.2941 0 29.5665V1.51017C0.158921 0.884873 0.353925 0.184413 1.05794 0.0216957ZM38.4665 3.10248H6.52881L21.5242 13.6257L38.4665 3.10248ZM39.9252 5.89192L22.4731 16.7537C21.6056 17.1791 21.2294 17.1187 20.4148 16.6328L3.07401 4.57469V27.8975H39.9252V5.89192Z"
      fill="#ECECEC"></path>
  </svg>
</button>

<dialog id="submit-dialog" closedby="any" class="panel" style="z-index: 1">
  <!-- <button data-open="#submit-dialog" class="panel">x</button> -->
  <h2>Contribute to Waste Atlas</h2>
  <p class="text-lg">
    Help us expand our database by submitting information about waste sources in your area. Your contribution will help
    designers discover new potential materials.
  </p>
  <div class="flex flex-row gap-4">
    <button data-open="#submit-dialog" class="rounded border border-white px-2 py-1 text-xl">Close</button>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSfMDb1cRH8I07CLu9XBmOjz8kIOplMNrOg16Lv1OCvKpK6Ydg/viewform?usp=sharing"
      target="_blank"
      autofocus
      class="rounded border border-white bg-white px-2 py-1 text-xl text-black">Open Submission Form</a
    >
  </div>
</dialog>
