---

---

<style is:global>
  .filter {
    bottom: 10px;
    right: 10px;
    width: 340px;
  }

  .filter small {
    display: block;
    position: absolute;
    top: -25px;
    left: 15px;
    color: #6c6f83;
    text-transform: uppercase;
    font-size: 13;
  }

  .filter div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 10px 15px;
    justify-content: space-between;
  }

  .filter button {
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter button.active {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .filter button.active::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
  }
</style>

<div class="panel filter">
  <small>Choose the type of residue</small>
  <div>
    <button data-category="domestic">
      <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M22.6464 1.7583C25.2904 1.82549 27.6018 1.86748 29.9133 1.95148C31.784 2.01867 33.6548 2.13626 35.5256 2.22865C35.6752 2.23705 35.8249 2.26224 35.9662 2.30424C36.5898 2.47222 36.8476 3.08536 36.5566 3.6649C36.5316 3.71529 36.4984 3.77409 36.4651 3.81608C35.2013 5.43711 34.3283 7.30172 33.2391 9.03194C31.4847 11.8121 29.7553 14.6174 28.0009 17.3975C27.685 17.893 27.3108 18.3634 26.9117 18.8001C26.7039 19.0269 26.4129 19.2117 26.1302 19.3293C25.5731 19.556 24.9828 19.6484 24.3675 19.5812C22.4136 19.3713 20.468 19.1277 18.5057 18.9597C16.2608 18.7665 14.0076 18.6657 11.7627 18.4642C9.21841 18.2458 6.67417 18.061 4.12161 17.9938C3.4897 17.977 2.8578 17.8426 2.23421 17.6998C1.93489 17.6326 1.64388 17.4647 1.3695 17.2967C0.820742 16.9523 0.579621 16.0872 1.09512 15.4489C1.21984 15.2977 1.32793 15.1213 1.43602 14.9533C3.73914 11.1233 6.03395 7.29332 8.33707 3.46332C8.47011 3.23654 8.61145 3.01817 8.71123 2.77459C8.95235 2.22865 9.37639 1.87588 9.88358 1.62391C10.0582 1.53992 10.266 1.48952 10.4573 1.48952C12.1534 1.48113 13.8496 1.45593 15.5375 1.48113C17.3001 1.50632 19.0628 1.58192 20.8255 1.64911C21.5489 1.6911 22.2639 1.7415 22.6464 1.7583Z"
          fill="#9B67CC"></path>
        <path
          d="M23.3444 0.590796C27.1109 0.699984 30.8774 0.800774 34.6439 0.909963C34.6522 0.909963 34.6605 0.909963 34.6771 0.909963C36.5313 0.800774 37.7785 1.77507 38.7429 3.24492C40.8382 6.44499 42.6757 9.80464 44.5714 13.1223C45.2117 14.2394 45.8602 15.3481 46.4921 16.4651C46.5752 16.6079 46.6501 16.7759 46.6667 16.9355C46.675 17.0363 46.5919 17.1959 46.5004 17.2463C46.4422 17.2799 46.2842 17.1875 46.2011 17.1287C46.1346 17.0783 46.0847 16.9859 46.0431 16.9103C45.062 15.1549 44.1058 13.3911 43.0998 11.6524C42.2267 10.1322 41.3121 8.62876 40.3892 7.13371C39.5162 5.71426 38.6182 4.31161 37.712 2.91735C37.3711 2.39661 36.9054 1.96825 36.2902 1.81707C35.5169 1.63229 34.727 1.43911 33.9455 1.40551C30.0376 1.24593 26.1381 1.12834 22.2303 1.01915C18.6218 0.918362 15.0133 0.851169 11.4048 0.767178C11.3549 0.767178 11.2967 0.775576 11.2551 0.758778C11.1055 0.691585 10.9641 0.607594 10.8145 0.523602C10.9641 0.439611 11.0971 0.313624 11.2634 0.271629C11.4547 0.229633 11.6625 0.254831 11.8621 0.26323C15.6868 0.355621 19.5198 0.45641 23.3444 0.5488C23.3444 0.582396 23.3444 0.582396 23.3444 0.590796Z"
          fill="#9B67CC"></path>
      </svg>
    </button>
    <button data-category="construction">
      <svg width="42" height="31" viewBox="0 0 42 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.3093 0.250977C28.3565 0.312962 29.2796 0.657326 30.1132 1.24963C30.6093 1.60777 31.1053 1.95902 31.6151 2.2965C32.5107 2.88881 33.4063 3.47423 34.3087 4.05276C35.9966 5.12717 37.6982 6.16715 39.3654 7.26912C40.075 7.73745 40.7226 8.31599 41.3701 8.88074C41.8524 9.30087 41.7422 9.89317 41.129 10.0998C40.3506 10.3615 39.5514 10.5612 38.7523 10.7679C36.844 11.2706 34.9288 11.7596 33.0205 12.2624C28.8732 13.3506 24.7328 14.4388 20.5855 15.5407C19.5797 15.8094 18.5945 16.1468 17.5887 16.4085C17.0376 16.5532 16.4933 16.7736 15.9009 16.746C15.0948 16.7116 14.3715 16.4085 13.6757 16.0504C12.7525 15.5752 11.8431 15.0655 10.9269 14.5834C9.93483 14.0669 8.92212 13.5916 7.93697 13.0544C6.98626 12.5379 6.05622 11.98 5.12618 11.4359C4.18925 10.8849 3.24543 10.3408 2.32917 9.74854C1.9296 9.48682 1.57825 9.12869 1.24757 8.77743C0.85489 8.3642 0.889336 7.95785 1.30958 7.57216C1.46114 7.43441 1.63337 7.29667 1.81937 7.22091C2.49451 6.9523 3.16277 6.66304 3.85857 6.46331C5.22952 6.06384 6.61424 5.71948 7.99897 5.35445C12.0429 4.29381 16.0869 3.24006 20.1239 2.17942C21.8944 1.71108 23.665 1.22897 25.4355 0.753748C25.7248 0.677988 25.9935 0.554017 26.2828 0.478257C26.6204 0.388722 26.9649 0.319849 27.3093 0.250977ZM12.6285 7.06939C11.4642 7.0625 10.8166 7.24157 10.2448 7.64103C9.49392 8.17135 9.17702 9.0116 9.39747 9.90006C9.51459 10.3822 9.74882 10.8092 10.0588 11.188C11.0371 12.3933 12.3323 13.0475 13.841 13.3093C14.8055 13.4814 15.7562 13.4264 16.6449 12.9718C17.6989 12.4277 18.1192 11.3533 17.6852 10.2513C17.5611 9.94139 17.4027 9.63146 17.196 9.36974C15.9766 7.79944 14.3095 7.13137 12.6285 7.06939ZM23.4032 11.1535C24.1334 11.1604 24.6226 11.0916 25.0841 10.8918C26.0142 10.4924 26.4757 9.64523 26.3104 8.65346C26.2208 8.1438 26.0142 7.69613 25.711 7.28289C24.8843 6.1396 23.7683 5.41644 22.418 5.03764C21.6327 4.81725 20.8404 4.77592 20.0413 4.97565C18.5463 5.34068 18.1467 6.6286 18.5463 7.73057C18.6841 8.11625 18.8701 8.49506 19.1181 8.81876C20.2617 10.2857 21.7842 11.0365 23.4032 11.1535ZM28.949 3.33648C28.5838 3.39847 28.198 3.41224 27.8605 3.53621C26.6066 4.00455 26.0831 4.82413 26.4826 6.1947C26.5584 6.44265 26.6686 6.69747 26.8133 6.91098C27.9363 8.5777 29.507 9.41106 31.5186 9.3904C32.0215 9.38351 32.4969 9.24577 32.924 8.97028C33.6198 8.5226 33.9918 7.73057 33.7645 6.94542C33.6336 6.47019 33.4131 6.00186 33.1376 5.58862C32.5864 4.76903 31.7735 4.23183 30.8986 3.8117C30.2855 3.51555 29.631 3.38469 28.949 3.33648Z"
          fill="#FC4008"></path>
        <path
          d="M17.1953 21.9253C17.2642 20.9887 17.2986 20.0451 17.4089 19.1153C17.5329 18.034 18.146 17.2833 19.1863 16.9458C19.9992 16.6772 20.8328 16.4637 21.6595 16.2502C28.0251 14.6111 34.3976 12.9719 40.7632 11.3327C40.9354 11.2845 41.1145 11.2501 41.3005 11.2363C41.3625 11.2294 41.4246 11.3052 41.4934 11.3396C41.4521 11.4016 41.4177 11.4773 41.3626 11.5255C41.3143 11.5669 41.2385 11.5669 41.1765 11.5875C36.0028 12.9374 30.8428 14.2873 25.6759 15.6235C23.9812 16.0643 22.2726 16.45 20.571 16.8701C20.2059 16.9596 19.8339 17.0629 19.4756 17.1869C18.7523 17.4348 18.3527 17.9996 18.0909 18.6745C17.7947 19.439 17.774 20.2448 17.774 21.0438C17.774 21.8152 17.8222 22.5934 17.8705 23.3648C17.9393 24.4048 18.0082 25.4379 18.1047 26.4778C18.1874 27.4007 18.3114 28.3167 18.4078 29.2328C18.4354 29.4807 18.4423 29.7286 18.4423 29.9766C18.4423 30.0317 18.4009 30.1281 18.3665 30.135C18.3045 30.1488 18.1942 30.1281 18.1736 30.0799C18.084 29.9284 17.9807 29.7631 17.9531 29.5909C17.8636 29.0055 17.7809 28.4132 17.7327 27.8277C17.5742 26.0646 17.4227 24.2946 17.2711 22.5245C17.2573 22.3248 17.2711 22.132 17.2711 21.9322C17.2435 21.9322 17.2229 21.9322 17.1953 21.9253Z"
          fill="#FC4008"></path>
      </svg>
    </button>
    <button data-category="agricultural">
      <svg width="29" height="35" viewBox="0 0 29 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14.5886 17.3913L14.9226 34.2603C14.9297 34.598 14.7566 34.7704 14.3042 34.8061C13.6271 34.8643 12.948 34.899 12.2699 34.9469C9.5372 35.1408 6.89255 34.8337 4.37543 33.6766C1.69435 32.4451 0.162015 30.3892 0.0162714 27.4006C-0.0181019 26.3263 0.0326649 25.2508 0.168088 24.1846C0.405934 22.0511 1.22777 20.1095 2.1832 18.2096C3.90379 14.7783 5.98064 11.5592 8.01802 8.31252C9.76694 5.52705 11.6333 2.83749 13.7587 0.33261C13.8498 0.230578 13.9966 0.166299 14.117 0.0856934C14.1705 0.213458 14.2079 0.347486 14.2283 0.484638C14.3559 6.1202 14.4797 11.7551 14.5998 17.3893L14.5886 17.3913Z"
          fill="#979C35"></path>
        <path
          d="M15.3577 0.00703332C15.7444 -0.0409217 15.7879 0.164162 15.798 0.384551C15.8375 1.1906 15.8769 1.99666 15.9063 2.80271C16.2356 11.9903 16.5659 21.1783 16.8971 30.3666C16.9275 31.1686 16.9751 31.9859 17.1593 32.7623C17.3354 33.5031 17.7767 34.1571 18.6653 34.1459C20.3474 34.1255 22.0053 34.0204 23.6408 33.5857C23.8868 33.5204 24.1307 33.4429 24.3706 33.3572C26.888 32.4539 28.2233 30.6608 28.3765 27.9781C28.4878 26.0976 28.1589 24.2712 27.6832 22.4683C27.3715 21.2878 26.9747 20.1308 26.6367 18.9574C26.5871 18.785 26.5881 18.4473 26.6569 18.4187C26.9383 18.3085 26.9676 18.6064 27.0425 18.7789C28.1012 21.2184 28.7884 23.755 28.9777 26.417C29.0508 27.407 28.9549 28.4022 28.6943 29.3596C28.1316 31.4196 26.8836 32.8654 24.909 33.6653C23.5993 34.1959 22.2249 34.4254 20.8282 34.5275C19.9234 34.5938 19.0064 34.6836 18.1097 34.6295C16.9619 34.554 16.4427 33.9796 16.3668 32.8123C16.2464 30.9472 16.1411 29.08 16.0864 27.2118C15.8327 18.5581 15.5902 9.90379 15.3587 1.24876C15.3476 0.840634 15.3577 0.432506 15.3577 0.00703332Z"
          fill="#979C35"></path>
      </svg>
    </button>
    <button data-category="industrial">
      <svg width="42" height="25" viewBox="0 0 42 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.5877 9.56234C27.6857 11.6342 27.8248 13.706 27.8648 15.7789C27.886 16.8347 27.808 17.8902 27.632 18.9312C27.2527 21.1497 25.9727 22.6499 23.8394 23.3883C22.2001 23.9546 20.5008 24.217 18.7826 24.2946C16.2341 24.4093 13.6815 24.4253 11.1331 24.5326C9.03873 24.6218 6.94857 24.7971 4.85526 24.9045C3.54471 24.9714 2.23204 24.9969 0.920431 25.0033C0.697089 25.0033 0.437927 24.8588 0.255671 24.7079C-0.148875 24.3722 -0.0730219 24.046 0.430552 23.876C0.612535 23.8237 0.799889 23.7926 0.988909 23.7836C2.96844 23.6082 4.93217 23.3224 6.82216 22.6828C7.5138 22.4418 8.18062 22.1336 8.81328 21.7627C9.67926 21.2666 10.4926 20.6779 11.3417 20.152C13.6109 18.7496 14.834 16.666 15.325 14.0736C15.6294 12.465 15.7285 10.8416 15.7538 9.21173C15.798 6.36111 15.8233 3.51049 15.8454 0.658815C15.8454 0.398509 15.9508 0.278449 16.1825 0.242325C16.3567 0.214507 16.5329 0.201004 16.7093 0.201951C19.9934 0.253658 23.2768 0.307844 26.5595 0.364509C27.1453 0.375134 27.1737 0.381509 27.2011 0.895746C27.3065 2.82732 27.395 4.7589 27.4634 6.69154C27.4971 7.64777 27.4687 8.60399 27.4687 9.55384L27.5877 9.56234Z"
          fill="#A1A1A1"></path>
        <path
          d="M40.3328 24.1914C37.7065 24.1128 35.3898 23.2788 33.4988 21.412C32.2346 20.1647 31.5403 18.5901 31.278 16.8582C30.9988 15.0117 30.846 13.1396 30.6522 11.2845C30.2772 7.6721 30.3562 4.03738 30.3456 0.410094C30.3456 0.228411 30.2909 0.00741642 30.5953 -2.08975e-05C30.9251 -0.00852069 30.865 0.227348 30.8745 0.424968C31.0747 4.70886 31.2485 8.99488 31.4887 13.2809C31.5561 14.4698 31.7752 15.6566 31.9996 16.8296C32.3557 18.6942 33.1838 20.2985 34.6703 21.5342C35.9513 22.5967 37.4357 23.0918 39.0528 23.2341C39.8809 23.3053 40.7174 23.2873 41.5486 23.3404C41.7034 23.3489 41.8488 23.4923 41.9984 23.5731C41.8804 23.7314 41.7877 23.9906 41.6402 24.0278C41.2167 24.1181 40.77 24.1394 40.3328 24.1914Z"
          fill="#A1A1A1"></path>
      </svg>
    </button>
  </div>
</div>
