body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: var(--font-switzer);
}

html,
body,
#map {
  height: 100%;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.panel {
  background-color: #787c94cc;
  color: #ffffff;
  border: none;
  z-index: 1;
  position: absolute;
  backdrop-filter: blur(2px);
  border-radius: 30px;
}

button.panel {
  cursor: pointer;
}

button.panel:hover {
  opacity: 0.7;
}

[hidden] {
  display: none !important;
}

*[data-tooltip] {
  position: relative;
}

*[data-tooltip]::after {
  content: attr(data-tooltip);

  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;

  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;

  display: block;
  font-size: 12px;
  line-height: 16px;
  background: #fefdcd;
  padding: 2px 2px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip]:hover::after {
  opacity: 1;
}
