---
import TitlePanel from "./TitlePanel.astro"
import ContributePanel from "./ContributePanel.astro"
import LayerPanel from "./LayerPanel.astro"
import WastePanel from "./WastePanel.astro"

import type { CollectionEntry } from "astro:content"

import "./map.css"

interface Props {
  wastes: CollectionEntry<"wastes">["data"][]
}

const { wastes } = Astro.props
---

<main class="h-full">
  <TitlePanel />

  <ContributePanel />

  <WastePanel wastes={wastes} />

  <LayerPanel />

  <div id="map"></div>

  <script src="./map.ts"></script>
</main>
