---
import type { CollectionEntry } from "astro:content"

interface Props {
  waste: CollectionEntry<"wastes">["data"]
}

const { waste } = Astro.props
---
<li class="item">{waste.name}..{waste.category}</li>