---

import type { CollectionEntry } from "astro:content"
import DirectoryItem from "./DirectoryItem.astro"

interface Props {
  wastes: CollectionEntry<"wastes">["data"][]
}

const { wastes } = Astro.props
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<h1>Hello World</h1>
<button onclick="applyfilter()">click</button>
<ul>
    {
        wastes.map (waste=> <DirectoryItem waste={waste} />)

    }
</ul>

<script src="./dir.js" >
    
</script>